{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('libActions') }}
{% endblock %}

{% block title %}Library: {{ lib.address }}{% endblock %}

{% block body %}
    <div id="modal-placeholder" data-lib-id="{{ lib.id }}"></div>
    <div class="row">
        <div class="col-sm-xs">
            <i class="fas fa-home fa-2x"></i>
        </div>
        <div class="col-auto">
            <h3><i>{{ lib.address }} library</i></h3>
        </div>
        <div class="col-sm-xs">
            <button type="button" class="btn btn-light" id="edit">
                <span class="fas fa-edit"></span> Edit library
            </button>
            <button type="button" class="btn btn-light" id="addBooks">
                <span class="fas fa-plus"></span> Add new books
            </button>
            <button type="button" class="btn btn-light" id="delete">
                <span class="fas fa-trash"></span> Delete library
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Book-title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Author</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in pag_books %}
                    <tr>
                        <th scope="row">
                            <i class="fas fa-book fa-2x"></i>
                        </th>
                        <td>{{ book.title }}</td>
                        <td>{{ book.content }}</td>
                        <td>{{ book.author.fullname }}</td>
                        <td>
                            <button type="button" class="btn btn-light">
                                <span class="fas fa-times"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pag_books) }}
    </div>
{% endblock %}
