{% extends 'base.html.twig' %}

{% block title %}Library: {{ lib_addr }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-xs">
            <i class="fas fa-home fa-2x"></i>
        </div>
        <div class="col-sm">
            <h3><i>{{ lib_addr }} library</i></h3>
        </div>
    </div>
    <div class="row">
        <table class="table" data-libra-id="{{ lib_id }}">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Book-title</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody>
                {% for book in pag_books.items %}
                    <tr>
                        <th scope="row">
                            <i class="fas fa-book fa-2x"></i>
                        </th>
                        <td>{{ book.title }}</td>
                        <td>{{ book.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pag_books) }}
    </div>
{% endblock %}
